<div class='page-container'>
  <div class='header-container'>
    <div class='page-title'>
            <h1 class='heading'>Shark Tank</h1>

    </div>
  </div>

  <div class='shark-container'>
    <div class='a'>
      <a href="/sharks/2"><img class='image' src='/images/goblin.png' alt='image of shark' /></a>
    </div>
    <div class='a'>
        <a href="/sharks/3"><img class='image' src='/images/great-white.png' alt='image of shark' /></a>
    </div>
    <div class='a'>
      <a href="/sharks/1"><img class="image" src='/images/hammerheads.png'></a>
    </div>
     <div class='a'>
     <a href="/sharks/4"><img class="image" src='/images/reg.png'></a>
    </div>
  </div>