<h2>hello this will be the shark page</h2>

<div class="page-container">
  <div class="page-header">

  </div>
  <div class="image-container">
    <div class="image" src="/media/cc0-images/grapefruit-slice-332-332.jpg"
     alt="Image of a shark">
      <img>
    </div>
  </div>
</div>