<div class="page-container">
  <div class="header-container">
    <div class="page-title">
      <h1 class="heading">Great White Shark</h1> 
    </div>
  </div>
  <div class="image-container">
  <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bf/Scalloped_Hammerhead_Shark_Sphyrna_Lewini_%28226845659%29.jpeg/1024px-Scalloped_Hammerhead_Shark_Sphyrna_Lewini_%28226845659%29.jpeg" alt="image of shark" width="500" height="600">
  </div>
  <div class="facts-container">
    <div class="fact-box">
     'Widely distributed in tropical and temperate marine waters near the coasts and above the continental shelves.'
  </div>
  <div class="fact-box">
    'They are aggressive hunters, feeding on smaller fish, octopuses, squid, and crustaceans. They do not actively seek out human prey, but are very defensive and will attack when provoked.',
  </div>
  <div class="fact-box">
    'They are gray-brown to olive-green on top with off-white undersides, and they have heavily serrated, triangular teeth. Their extra-tall, pointed dorsal fins are easily identifiable.',
  </div>
  </div>
</div>