h1{
  color: red;
}

body{
  margin:0 
}


.header-container{
  height: 15rem;
  background-color: black;
  display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.heading{
  color: white;
  font-size: 3rem;
  font-family: sans-serif;
}

.image-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.image{
  max-width: 45rem;
  margin: 1rem
}

.facts-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.fact-box{
  padding: 1rem;
  border-style: solid;
  border-width: 0.15rem;
  margin: 0.5rem;

}
.fact-subhead{
  font-family: sans-serif;
}

.questions-container{
  padding: 1rem;
    border-width: 0.15rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
}

.question-button-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
}

.question-form-container{
  display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.current-questions{
  border-style: solid;
  border-radius: 0.5rem;
  border-color: lightgray;
}

.question-box{
  display: flex;
  flex-direction: row;
  align-items: center;
}


.answer-box{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.avatar-image{
  max-height: 6rem;
}

.bio-text{
  font-size: .8rem;
    margin: 0;
}